@page "/register"
@inject NavigationManager NavigationManager
@inject RegisterService registerService
@inject AuthenticationStateProvider authStateProvider


<EditForm EditContext="@editContext" Model="@registerModel" OnSubmit="HandleRegister">
    <InputText @bind-Value="registerModel.Username" placeholder="Nom d'utilisateur" />
    <InputText @bind-Value="registerModel.Password" type="password" placeholder="Mot de passe" />
    <InputText @bind-Value="registerModel.Mail" type="email" placeholder="Adresse mail" />
    <button type="submit">Register</button>

    @if (!string.IsNullOrEmpty(registerModel.ErrorMessage))
    {
        <p style="color: red;">@registerModel.ErrorMessage</p>
    }

</EditForm>




@code {
    private RegisterModel registerModel = new RegisterModel();
    private EditContext? editContext;

    private class RegisterModel
    {
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
        public string Mail { get; set; } = "";
        public string ErrorMessage { get; set; } = "";
    }

    private async void HandleRegister()
    {
        var user = await registerService.RegisterUser(registerModel.Username, registerModel.Password, registerModel.Mail);
        if (user != null)
        {
            var userClaim = await ((CustomAuthenticationStateProvider)authStateProvider).MarkUserAsAuthenticated(user);
            NavigationManager.NavigateTo("/");
        }
        else
        {
            // Mettez à jour le message d'erreur
            registerModel.ErrorMessage = "L'inscription a échoué. Veuillez vérifier vos informations et réessayer.";
            await Task.Delay(5000); 
            registerModel.ErrorMessage = "";
        }
    }
}


