@page "/register"
@inject NavigationManager NavigationManager
@inject RegisterService registerService
@inject AuthenticationStateProvider authStateProvider


<EditForm EditContext="@editContext" Model="@registerModel" OnValidSubmit="HandleRegister">
    <InputText @bind-Value="registerModel.Username" placeholder="Nom d'utilisateur" />
    <InputText @bind-Value="registerModel.Password" type="password" placeholder="Mot de passe" />
    <InputText @bind-Value="registerModel.Mail" type="email" placeholder="Adresse mail" />
    <button type="submit">Register</button>
</EditForm>




@code {
    private RegisterModel registerModel = new RegisterModel();
    private EditContext? editContext;
    private class RegisterModel
    {
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
        public string Mail { get; set; } = "";
    }

    private async void HandleRegister()
    {
        var user = await registerService.RegisterUser(registerModel.Username, registerModel.Password, registerModel.Mail);
        if (user != null)
        {
            var userClaim = await ((CustomAuthenticationStateProvider)authStateProvider).MarkUserAsAuthenticated(user);

            NavigationManager.NavigateTo("/");
        }
        else
        {
            // Handle failed authentication
        }
    }


}
