@page "/register"
@inject NavigationManager NavigationManager
@inject RegisterService registerService


<EditForm EditContext="@editContext" Model="@registerModel" OnValidSubmit="HandleRegister">
    <InputText @bind-Value="registerModel.Username" />
    <InputText @bind-Value="registerModel.Password" type="password" />
    <button type="submit">Register</button>
</EditForm>




@code {
    private RegisterModel registerModel = new RegisterModel();
    private EditContext? editContext;
    private class RegisterModel
    {
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
    }

    private async void HandleRegister()
    {
        var user = await registerService.RegisterUser(registerModel.Username, registerModel.Password);
        
    }


}
